.form-field {
  margin-bottom: 16px;
}
.form-field .text-input {
  font-size: 17px;
  font-weight: 400;
  color: var(--vulcan);
  width: 100%;
  padding: 22px 25px 18px;
  border: 1px solid var(--grey);
  border-radius: 50px;
  outline: none;
  transition: ease-in-out 0.4s;
}
.form-field .text-input:hover, .form-field .text-input:focus {
  border-color: var(--accent);
}
.form-field .note {
  font-size: 14px;
  color: var(--darkGrey);
  margin-bottom: 12px;
  padding-top: 12px;
}
.form-field .note a {
  text-decoration: none;
  color: var(--accent);
}
.form-field button {
  width: 100%;
}

.button {
  text-decoration: none;
  background: none;
  border-radius: 50px;
  border: 0;
  transition: all 0.3s;
  display: inline-block;
  cursor: pointer;
  /*
  &--white-text {

  }
  */
}
.button[disabled] {
  pointer-events: none;
}
.button--accent-fill {
  border: 1px solid transparent;
  padding: 21px 30px;
  font-size: 17px;
  font-weight: 500;
  color: var(--milk);
  background: var(--accent);
}
.button--accent-fill:hover {
  background: var(--vulcan);
}
.button--accent-fill:active {
  border-color: var(--vulcan);
  color: var(--vulcan);
  background: transparent;
}
.button--accent-fill[disabled] {
  color: var(--milk);
  border-color: transparent;
  background: var(--darkGrey);
}
.button--with-arrow {
  border: 1px solid var(--accent);
  padding: 16px 68px 16px 31px;
  font-size: 17px;
  font-weight: 500;
  color: var(--accent);
  position: relative;
}
.button--with-arrow:after {
  content: "";
  width: 24px;
  height: 9px;
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: all 0.3s;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='11' viewBox='0 0 26 11' fill='none'%3E%3Cpath d='M1 5.5H25M25 5.5L20 1M25 5.5L20 10' stroke='rgba(255, 22, 22, 1)' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") right center no-repeat;
}
.button--with-arrow:hover {
  border-color: transparent;
  background-color: var(--milk);
}
.button--with-arrow:active {
  background-color: var(--accent);
  border-color: transparent;
  color: var(--milk);
}
.button--with-arrow:active:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='11' viewBox='0 0 26 11' fill='none'%3E%3Cpath d='M1 5.5H25M25 5.5L20 1M25 5.5L20 10' stroke='rgba(247, 247, 248, 1)' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.button--with-arrow[disabled] {
  color: var(--darkGrey);
  border-color: var(--darkGrey);
}
.button--with-arrow[disabled]:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='11' viewBox='0 0 26 11' fill='none'%3E%3Cpath d='M1 5.5H25M25 5.5L20 1M25 5.5L20 10' stroke='rgba(138, 138, 153, 1)' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.button--white-border {
  color: var(--accent);
  font-size: 17px;
  font-weight: 500;
  border: 1px solid var(--grey);
  padding: 16px 32px;
}
.button--white-border:hover {
  border-color: var(--accent);
}
.button--white-border:active, .button--white-border.active {
  border-color: transparent;
  color: var(--milk);
  background: var(--accent);
}
.button--accent-text {
  font-size: 24px;
  font-weight: 500;
  color: var(--accent);
}
.button--accent-text:hover {
  color: var(--vulcan);
}
.button--accent-text:active {
  color: var(--accent);
}/*# sourceMappingURL=generalElements.css.map */